@import url(//fonts.googleapis.com/css?family=Montserrat);
.Top-Bar {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
    height: 75px;
    background-color:#f2f3f4;
}
h1 {
    color: #626567;
    font-family: "Montserrat", Arial;
}
body{
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/stars_background.gif);
    margin:0;
    padding:0;
}
.Main{
    width:100%;
    text-align: center;
    overflow: auto;
}
.Text-Box {
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFfff;
    font-family: "Montserrat", Arial;
}
.Text-Box-2{
    font-size: 20px;
    color: #FFFFFF;
    margin-left:50px;
    margin-right: 50px;
    text-shadow: 0 1px 0 #FFffff;
    font-family: "montserrat", Arial;
}
.footer-text{
    text-shadow: 0 1px 0 #FFF;
    color: #ffffff;
    font-family: "montserrat", arial;
    font-size: .75em;
}
h2{
    color: #f2dbde;
}
.button{
    height: 38px;
    background: #f2dbde;
    border: 1px solid #066a19;
    font-size: 14px;
    color:#000000;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}